<div class="mdui-card-primary-title">
    <% if (post.link){ %>
        <b><a class="<%= m_title_color %> m-link" href="<%- url_for(post.link) %>"><%= post.title %></a></b>
    <% } else if (post.title){ %>
        <b><%= post.title %></b>
    <% } else { %><% } %>
</div>
<% if(post.excerpt && theme.post.excerpt === 'subtitle' && !is_post() && !is_page()) { %>
    <div class="mdui-card-primary-subtitle"><%- post.excerpt %></div>
<% } %>