<% page.posts.each(function (post) { %>
<div class="mdui-card mdui-m-b-5 mdui-shadow-<%= theme.mdui.shadow %> <% if(theme.mdui.hoverable === true) { %>mdui-hoverable<% } %>">
    <%- partial('_partial/post/primary', {post: post}) %>
    <%- partial('_partial/post/actions', {post: post}) %>
    <% if(post.excerpt && theme.post.excerpt === 'content') { %>
        <div class="mdui-card-content mdui-typo m-content">
            <%- post.excerpt %>
            <a class="mdui-btn mdui-btn-block mdui-ripple" href="<%- url_for(post.path) %>"><%= __('index.continue') %></a>
        </div>
    <% } %>
</div>
<% }) %>